@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-clr-primary-100: 254, 247, 241;
  --tw-clr-primary-200: 255, 233, 216;
  --tw-clr-primary-300: 238, 202, 172;
  --tw-clr-primary-400: 248, 212, 143;
  --tw-clr-primary-500: 231, 145, 69;
  --tw-clr-primary-600: 140, 94, 55;
  --tw-clr-primary-700: 121, 75, 37;
  --tw-clr-primary-800: 62, 28, 0;
  --tw-clr-primary-900: 31, 14, 0;
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #FEF7F1 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #FFE9D8 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #DEBDA1 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #F8D48F */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #E79145 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #8C5E37 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #794B25 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #3E1C00 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #1F0E00 */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
    font-style: medium;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Medium.ttf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
    font-style: medium;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Black.ttf');
    font-style: medium;
    font-weight: 900;
    font-display: swap;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  h1 {
    @apply m-0 text-6xl font-black text-primary-900 md:text-7xl;
  }

  h2 {
    @apply text-4xl font-black text-primary-900 md:text-5xl;
  }

  h3 {
    @apply text-3xl font-semibold text-primary-900 md:text-4xl;
  }

  h4 {
    @apply text-xl font-semibold text-primary-900 md:text-2xl;
  }
  body {
    @apply text-sm text-primary-900 md:text-base;
  }
  p.heading {
    @apply text-lg font-semibold text-primary-900 md:text-xl;
  }
  p.content {
    @apply text-sm font-normal text-primary-900 md:text-lg;
  }
  .bg-paper {
    @apply bg-texture bg-primary-300 bg-repeat;
  }
  .font-outline-500-md {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--clr-primary-500);
  }
  .font-outline-700-md {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--clr-primary-700);
  }
  .font-outline-900-md {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--clr-primary-900);
  }
  .font-outline-500-sm {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-primary-500);
  }
  .font-outline-700-sm {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-primary-700);
  }
  .font-outline-900-sm {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-primary-900);
  }

  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
